@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);

  --Font: "Poppins", sans-serif;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.7;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1,
h2,
h3 {
  line-height: 1;
}

p {
  color: var(--GrayishBlue);
  font-weight: 400;
}

body {
  font-family: var(--Font);
  background-color: var(--VeryLightGray);
}

/*************************MOBILE FIRST***************************/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5.75rem 2.5rem;
  text-align: center;
}
header h1 {
  font-size: 1.5rem;
  font-weight: 200;
}

header h1 span {
  font-size: 1.5rem;
  font-weight: 600;
}

header p {
  font-size: 0.9375rem;
  font-weight: 400;
}

.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 375px) {
  .container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.75rem;
    /* justify-content: center; */
    align-items: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 19.375rem;
  /* max-height: 13.875rem; */
  box-shadow: 0 1rem 1rem hsla(229, 6%, 66%, 0.4);
  margin-bottom: 1.5rem;

  border-radius: 0.5rem;
  padding: 1.75rem;
}
.card h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.card p {
  font-size: 0.8125rem;
  margin-bottom: 2.375rem;
}
.card img {
  max-width: 3.5625rem;
  align-self: self-end;
}
.border-Cyan {
  border-top: 0.25rem solid var(--Cyan);
}

.border-Red {
  border-top: 0.25rem solid var(--Red);
}

.border-Orange {
  border-top: 0.25rem solid var(--Orange);
}

.border-Blue {
  border-top: 0.25rem solid var(--Blue);
}

/*************************WEB PAGE****************************/

@media screen and (min-width: 900px) {
  .card {
    width: 19.375rem;
  }
  .container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.75rem;
    /* justify-content: center; */
    align-items: center;
    max-width: 68.75rem;
    margin: 0 auto;
  }

  .card:nth-child(odd) {
    transform: translateY(50%);
  }
}
